@import "styles/utils";

.header {
  position: relative;
  padding: 15px 33px;
  display: flex;
  z-index: 1;

  @include media(">desktop") {
    padding: 64px 0 64px;
  }

  .logo {
    width: 130px;

    @include media(">desktop") {
      width: 200px;
    }
  }
}
