@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #684BB1;
  //background: #684BB1 url("/mobile-design.jpg");
  //background-size: cover;
}

body {
  position: relative;
}

h1, h2, h3, h4, button {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
